@charset "UTF-8";

body {
    background-color: rgb(251, 254, 255);
    width: 100%;
    margin: auto;
    padding: 5px;
}

.exemplo {
    font-size: 2.3em; 
    font-weight: 500;
    margin-left: 50px; 
    background: linear-gradient(to right, rgb(216, 217, 217), white);
    padding: 6px;
}
