article {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    margin-top: 80px;
}

section {
    line-height: 1.3;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}

.experiencia {
    font-size: 6rem;
    color: #14141434;
    word-break: break-all;
    max-width: 4ch;
}

.descri {
    color: #141414;
    margin-top: 10px;
    font-size: 1.8rem;
    width: 40ch;
}

.datas {
    text-align:left;
    color: #141414;
    position: absolute;
    left: -30px;
    top: 10px;
    transform: translateX(-100%);
}

.projetos::before {
    content: "";
    width: 4px;
    height: 20px;
    background: linear-gradient(to bottom, rgb(200, 252, 255), rgb(0, 215, 227));
    position: absolute;
    left: -4px;
    top: 20px;
}

.projetos {
    margin-top: 20px;
    background-color: rgb(244, 244, 244);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.projetos p {
    margin-top: 10px;
    color: #525252;
}

.projetos ul {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projetos li {
    background-color: rgb(255, 255, 255);
    padding: 8px 13px;
    border-radius: 10px;
}

@media (max-width:950px){

.descri {
    font-size: 1.4em;
}

.projetos {
    margin-top: 0px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projetos p {
    margin-top: 10px;
}
}

@media (max-width: 800px) {

.experiencia {
    font-size: 3rem;
}
}


@media (max-width:700px) {

article {
    grid-template-columns: 1fr;
    gap: 0px;
}

.experiencia {
    font-size: 4rem;
    align-self: baseline;
    max-width: 10ch;
}

.pai-descri {
    display: flex;
}

.descri {
    font-size: 1.4em;
    align-self: center;
}
    
.datas {
    left: 110px;
    transform: translateX(0%);
}

.projetos p {
    max-width: 20ch;
}


}