* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", "Arial", "sans-serif" ;
}

body {
    padding: 40px 20px;
    color: #141414;
}

header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

header img {
    max-width: 200px;
    display: block;
}

header a {
    text-decoration: none;
    font-size: 1.125rem;
    background-color: rgb(248, 248, 248);
    color: #141414;
    line-height: 1.3;
    /* background-color: aquamarine; */
    padding: 10px 10px;
    border-radius: 4px;
}

@media (max-width:600px) {

header {
    flex-direction: column;
    gap:20px;
}

header img {
    margin: auto;
}

nav {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    place-content: center center;
}}

/* Fim do header */

main{
    max-width: 1200px;
    margin-top: 100px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
}

.perfil1 {
    max-width: 250px;
    background-color: aquamarine;
}

main img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top top;
}


.prefil_texto {
    align-self: center;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    position: relative;
}

.prefil_texto h1::before {
    content: "";
    width: 80px;
    height: 80px;
    background-image: url(./img/detalhe.svg);
    background-size: cover;
    position: absolute;
    top:-10px;
    left: -20px;
    z-index: -1;
}

.prefil_texto h1 {
    text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: bold;
}

.prefil_texto p {
    color: rgba(0, 0, 0, 0.622);
}

.detalhe2 {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

@media (max-width: 700px) {

main {
grid-template-columns: 1fr 1fr;
} 

.prefil_texto h1 {
    font-size: 2.5rem;
}

.prefil_texto h1::before {
    width: 60px;
    height: 60px;
    top: -6px;
    left: -20px;
}}

@media (max-width: 500px) {

main {
grid-template-columns: 1fr 1fr;
}   

.prefil_texto h1 {
    font-size: 2.0rem;
}

}

@media (max-width: 300px) {

main {
    margin-top: 30px;
    grid-template-columns: 1fr;
}   

.prefil_texto h1 {
    font-size: 2.0rem;
}

main img {
    display: none;
}

.prefil_texto h1::before {
    width: 40px;
    height: 40px;
    top: 1px;
    left: -10px;
}}

/* Fim do main */

article {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    margin-top: 80px;
}

section {
    line-height: 1.3;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}

.experiencia {
    font-size: 6rem;
    color: #14141434;
    word-break: break-all;
    max-width: 4ch;
}

.descri {
    color: #141414;
    margin-top: 10px;
    font-size: 1.8rem;
    width: 40ch;
}

.datas {
    text-align:left;
    color: #141414;
    position: absolute;
    left: -30px;
    top: 10px;
    transform: translateX(-100%);
}

.projetos::before {
    content: "";
    width: 4px;
    height: 20px;
    background: linear-gradient(to bottom, rgb(200, 252, 255), rgb(0, 215, 227));
    position: absolute;
    left: -4px;
    top: 20px;
}

.projetos {
    margin-top: 20px;
    background-color: rgb(244, 244, 244);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.projetos p {
    margin-top: 10px;
    color: #525252;
}

.projetos ul {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projetos li {
    background-color: rgb(255, 255, 255);
    padding: 8px 13px;
    border-radius: 10px;
}

@media (max-width:950px){

.descri {
    font-size: 1.4em;
}

.projetos {
    margin-top: 0px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.projetos p {
    margin-top: 10px;
}
}

@media (max-width: 800px) {

.experiencia {
    font-size: 3rem;
}
}


@media (max-width:700px) {

article {
    grid-template-columns: 1fr;
    gap: 0px;
}

.experiencia {
    font-size: 4rem;
    align-self: baseline;
    max-width: 10ch;
}

.pai-descri {
    display: flex;
}

.descri {
    font-size: 1.4em;
    align-self: center;
}
    
.datas {
    left: 150px;
    transform: translateX(0%);
}

.projetos p {
    max-width: 20ch;
}


}

