* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", "Arial", "sans-serif" ;
}

body {
    padding: 40px 20px;
    color: #141414;
}

header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

header img {
    max-width: 200px;
    display: block;
}

header a {
    text-decoration: none;
    font-size: 1.125rem;
    background-color: rgb(248, 248, 248);
    color: #141414;
    line-height: 1.3;
    /* background-color: aquamarine; */
    padding: 10px 10px;
    border-radius: 4px;
}

@media (max-width:600px) {

header {
    flex-direction: column;
    gap:20px;
}

header img {
    margin: auto;
}

nav {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    place-content: center center;
}}