@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f7f7f7;
}

header img {
    display: block;
    width: 300px;
    margin: 100px auto;
}

nav ul {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 30px;
    display: flex;
    gap: 18px;
    place-content: center center;
}

nav ul li {
    list-style: none;
    text-decoration: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: white;
    padding: 20px 30px;
    border: 4px solid #f7f7f7;
    border-radius: 8px;
    transition: 0.4s;
}

nav a:hover {
    border: 4px solid #ee2211;
}

main {
    background-color: white;
    width: 1000px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    place-content: center center;
}


.descricao {
    font-size: 1.1rem;
    text-align: right;
    line-height: 1.4;
    padding: 40px;
    display: grid;
    place-content: center right;
    gap: 20px;
    position: relative;
}

.descricao::before {
    content: "";
    width: 80px;
    height: 4px;
    background-color: #ee2211;
    position: absolute;
    right: -40px;
    top: 30px;
}

.descricao a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #ee2211;
    padding: 15px 30px;
    border-radius: 6px;
    justify-self: right;
    transition: 0.3s;
}

.descricao a:hover {
    background-color: #900;
}

main img {
    display: block;
    width: 100%;
}

.vant_titulo {
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: right;
    color: #c6c6c6;
    background-color: #f7f7f7;
    background-image: url(img/onda.svg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: 200%;
    padding: 40px;
    display: flex;
}

.vant_titulo h2 {
    align-self: center;
}

.vant_desc {
    padding: 40px;
}


.vant_desc ul {
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    
}

.vant_desc li {
    padding: 20px;
    position: relative;
    transition: 0.3s;
}

.vant_desc li::before {
    content: "";
    width: 5px;
    height: 10%;
    background-color: white;
    position: absolute;
    top: 0px;
    left: -5px;
    transition: 0.25s;
}

.vant_desc li:hover::before {
    width: 5px;
    height: 100%;
    background-color: #ee2211;
}

.vant_desc li:nth-child(odd) {
    background-color: #f7f7f7;
}

.vant_desc h2 {
    font-size: 1rem;
}

.vant_desc img {
    width: 1.5rem;
    display: inline-block;
    margin-right: 20px;
    vertical-align: calc(-50% + 3px);
}

.vant_desc p  {
    margin-left: 45px;
    margin-top: 10px;
}

footer p {
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
}














